/*================================================================================================================

        DEFAULT VALUES:

        Font Family                 :   "Roboto Condensed", sans-serif
        
        Greenish Blue               :   #3742fa or rgb(55, 66, 250)    (buttons, Icons, Links, lines & Backgrounds)
        Steel Gray                  :   #41464b     (Headings)
        Blue Bayoux                 :   #64707b     (paragraphs)
        white                       :   #fff        (text with black backgrounds)
        Black                       :   #000        ()
        hover                       :   #ffa502 or rgb(255, 165, 2)     (hover)

=================================================================================================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed';

}

/* batches CSS starts here */
.user-panel-student-batches-content-image{
    border-radius: 5px;
}

.user-panel-student-batches-topicname{
   text-align: center;
   margin-top: 10px;
   text-decoration: none;

}

.user-panel-student-batches-topichead{
    font-size: 15px;
    text-align: center;

}



.user-panel-student-batches-content {
    position: relative;
    width: 180px;
    margin: auto;
    overflow: hidden;
}

.user-panel-student-batches-owl-item.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-panel-student-batches-content .user-panel-student-batches-content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.user-panel-student-batches-content:hover .user-panel-student-batches-content-overlay {
    opacity: 1;
}

.user-panel-student-batches-content-image {

    width: 150px;
    height: 150px;
}

.user-panel-student-batches-content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 90%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.user-panel-student-batches-content:hover .user-panel-student-batches-content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.user-panel-student-batches-content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.user-panel-student-batches-play-btn {
    text-decoration: none;
    background: none;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
}

.user-panel-student-batches-playall {
    margin-left: 5px;
}

.user-panel-student-batches-content-details p {
    color: #fff;
    font-size: 0.8em;
}

.user-panel-student-batches-fadeIn-top {
    top: 20%;
}

.user-panel-student-batches-subjects {
    margin-top: 20px;
}

.user-panel-student-batches-headpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-panel-student-batches-topic {
    text-align: start;
}

.user-panel-student-batches-wrapper .owl-prev,
.user-panel-student-batches-wrapper .owl-next {
    position: absolute;
    top: 25%;
    font-size: 2rem;

}

.user-panel-student-batches-wrapper .owl-prev {
    left: 0;
}

.user-panel-student-batches-wrapper .owl-next {
    right: 0;
}

.user-panel-student-batches-wrapper .owl-dots {
    display: none;
}

.user-panel-student-batches-videos {
    margin-top: 40px;
}

.user-panel-student-batches-topic {
    font-size: 25px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #3742fa;
    font-weight: bold;
}

.user-panel-student-batches-options {
    text-decoration: none;
    color: #3742fa;
    font-weight: bold;
}

.user-panel-student-batches-batches-options:hover {
    color: #ffa502;
}

#user-panel-student-batches-left-arrow {
    color: #fff;
    border-radius: 50%;
    background-color: #1a1a1a;
    padding: 5px;
    padding-inline: 10px;

}


#user-panel-student-batches-right-arrow {
    color: #fff;
    border-radius: 50%;
    background-color: #1a1a1a;
    padding: 5px;
    padding-inline: 10px;


}

#user-panel-student-batches-right-arrow:hover {
    color: #fff;

    background-color: #4c4b4b;
    padding: 5px;
    padding-inline: 10px;


}

#user-panel-student-batches-left-arrow:hover {
    color: #fff;

    background-color: #4c4b4b;
    padding: 5px;
    padding-inline: 10px;

}

@media screen and (max-width: 800px){
    .user-panel-student-batches-batches-topic{
        margin-left: 0;
        text-align: center;
    }
}